<div class="container">
    <h3>**************{{ fullName }}*************</h3>
    <form [formGroup]="pvForm" (ngSubmit)="save()">

        <div class="row">
            <h3>Info du consultant</h3>
            <label for="lastName" class="block">Nom:</label>
            <input id="lastName" type="text" class="p-inputtext-sm" pInputText formControlName="lastName" />
        </div>
        <div class="row">
            <label for="firstName" class="block">Prénom:</label>
            <input id="firstName" type="text" class="p-inputtext-sm" pInputText pInputText formControlName="firstName" />
        </div>
        <div class="row">
            <label for="adressemail" class="block">Address mail :</label>
            <input id="adressemail" type="email" class="p-inputtext-sm" pInputText formControlName="adressemail" />
        </div>
        <div class="row">
            <label for="numberphone" class="block">Tel :</label>
            <input id="numberPhone" type="text" class="p-inputtext-sm" pInputText formControlName="phoneNumber" />
        </div>
        <h3>Profils</h3>
        <p-dropdown [options]="profiles" [editable]="true" formControlName="profile"></p-dropdown>

        <h3>Projets</h3>
        <ng-container formArrayName="projects">
            <ng-container *ngFor="let projectForm of projects.controls; let index = index">
                <div [formGroupName]="index">
                    <input id="customerName" type="text" class="p-inputtext-sm" pInputText formControlName="customerName" />&nbsp;
                    <input id="projectName" type="text" class="p-inputtext-sm" pInputText formControlName="projectName" /> &nbsp;
                    <button pButton (click)="addNewProject()">+</button> &nbsp;
                    <button pButton (click)="removeProject(index)"
                        [disabled]="this.projects.controls.length === 1">-</button>
                </div>
            </ng-container>
        </ng-container>

        <h3>Calendrie</h3>
        <p-calendar name="rangeDates" selectionMode="range" formControlName="rangeDates"></p-calendar>

        <br />
        <div class="action-button">
            <button pButton type="submit" [disabled]="pvForm.invalid">Sauvegarder</button>
        </div>
    </form>
</div>